/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.book-result {
    display: flex;
    margin-bottom: 20px;
  }
  
  .book-cover img {
    width: 100px;
    height: auto;
  }
  
  .book-details {
    margin-left: 20px;
  }
  .white-dot {
    color: white;
  }
  
  .book-grid:hover {
    transform: translateY(-5px); /* Adjust the value as needed */
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination-item {
    margin-right: 10px;
  }
  
  .pagination-previous,
  .pagination-next {
    margin-right: 10px;
  }

.pagination-item a:hover,
.pagination-previous a:hover,
.pagination-next a:hover {
  color: rgb(59, 130, 246);
}

.active a {
  color: rgb(59, 130, 246);
}
  